/* style.css */
/* List.html */
body {
  background-color: #f2f2f2;
  font-family: 'Verdana', sans-serif;
  color: #333;
}

h1 {
  background-color: #666;
  color: #fff;
  padding: 10px;
  text-align: center;
  margin-bottom: 0;
}

form {
  background-color: #ddd;
  padding: 15px;
  margin-bottom: 20px;
  border-radius: 8px;
}

label, input, select {
  margin-bottom: 10px;
  display: block;
}

button {
  background-color: #555;
  color: #fff;
  padding: 8px 15px;
  border: none;
  cursor: pointer;
  border-radius: 5px;
}

table {
  width: 80%;
  margin: 20px auto;
  border-collapse: collapse;
  background-color: #fff;
  border-radius: 8px;
}

th, td {
  padding: 10px;
  text-align: left;
  border-bottom: 1px solid #ddd;
}

a {
  display: block;
  background-color: #555;
  color: #fff;
  padding: 10px;
  text-align: center;
  text-decoration: none;
  margin-bottom: 20px;
  border-radius: 5px;
}


/* style.css */